<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  	<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
  <body><br>
   	<nav>
    		<ul>
        		<li><a href="/">About</a></li>
	        	<li><a href="/#community">Our Community</a></li>
        		<li><a href="/#ecosystem">EPEXA Ecosystem</a></li>
        		<li><a href="/#funding">Funding</a></li>
    		</ul>
		</nav>
		<br>
		<div class="container">
			<div class="blurb">
				<h1>	
					{{ page.title }}
				</h1>
			</div>
			{{ content }}
		</div>
	</body>
</html>
